.modal {
    /* Use display flex to show it, managed by React state */
    display: flex;
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    align-items: center;
    justify-content: center;
  }
  .modal-content { 
    display: block; 
    margin: auto; 
    max-width: 85vw; 
    max-height: 85vh; 
  }
  .close { 
    position: absolute; 
    top: 25px; 
    right: 45px; 
    color: #fff; 
    font-size: 40px; 
    font-weight: bold; 
    cursor: pointer; 
  }